<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/main-layout}">

<head>
    <title>World Of Manga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Manga list management website">
    <meta name="keywords" content="manga, manhwa, webtoon, manhua, list, recommendations">
    <meta name="author" content="Artur Nowak">
</head>

<body class="page">
    <div layout:fragment="content">
        <div th:include="fragments/manga-list:: manga-list(mangas=${recommendations})" class="manga_list manga_slider">
        </div>
        <div th:include="fragments/manga-list:: manga-list(mangas=${mangas})" class="manga_list"></div>
    </div>
</body>

</html>