<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/main-layout}">

<head>
    <title>World Of Manga</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/manga_card.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/manga_list.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination.css}">
</head>

<body class="page">
    <div layout:fragment="content">
        <div th:include="fragments/manga-list:: manga-list(mangas=${recommendations}, showSlider=true)" class="manga_list manga_slider">
        </div>

        <div th:include="fragments/manga-list:: manga-list(mangas=${mangas}, showSlider=false)" class="manga_list"></div>

        <div th:if="${mangas.getTotalPages() gt 1}" th:include="fragments/pagination:: pagination" class="pagination">
        </div>
    </div>
</body>

</html>