<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/main-layout}">

<head>
    <title>World Of Manga</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manga list management website">
    <meta name="keywords" content="manga, manhwa, webtoon, manhua, list, recommendations">
    <meta name="author" content="Artur Nowak">
    <link rel="stylesheet" type="text/css" th:href="@{/css/card.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/manga_list.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/manga_types.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/pagination.css}">
</head>

<body class="page">
    <div layout:fragment="content">
        <div class="manga_list_types">
            <a th:href="@{'/auth/sortMangaList/' + 5}">
                <image class="manga_list_types__type" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '5')} ? manga_list_types_type--selected : ''" th:src="@{'/images/icons/heart.png'}" title="Favourites">
            </a>
            <a th:href="@{'/auth/sortMangaList/' + 6}">
                <image class="manga_list_types__type" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '6')} ? manga_list_types_type--selected : ''" th:src="@{'/images/icons/star.png'}" title="Rated">
            </a>
            <a th:href="@{'/auth/sortMangaList/' + 0}">
                <image class="manga_list_types__type" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '0')} ? manga_list_types_type--selected : ''" th:src="@{'/images/icons/reading.png'}" title="Currently Reading">
            </a>
            <a th:href="@{'/auth/sortMangaList/' + 1}">
                <image class="manga_list_types__type" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '1')} ? manga_list_types_type--selected : ''" th:src="@{'/images/icons/completed.png'}" title="Completed">
            </a>
            <a th:href="@{'/auth/sortMangaList/' + 2}">
                <image class="manga_list_types__type" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '2')} ? manga_list_types_type--selected : ''" th:src="@{'/images/icons/plan-to-read.png'}" title="Plan to Read">
            </a>
            <a th:href="@{'/auth/sortMangaList/' + 3}">
                <image class="manga_list_types__type" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '3')} ? manga_list_types_type--selected : ''" th:src="@{'/images/icons/on-hold.png'}" title="On Hold">
            </a>
            <a th:href="@{'/auth/sortMangaList/' + 4}">
                <image class="manga_list_types__type" th:classappend="${#strings.contains(#httpServletRequest.requestURI, '4')} ? manga_list_types_type--selected : ''" th:src="@{'/images/icons/dropped.png'}" title="Dropped">
            </a>
    </div>

        <div th:include="fragments/manga-list:: manga-list(mangas=${mangas}, showSlider=false)" class="manga_list"></div>

        <div th:if="${mangas.getTotalPages() gt 1}" th:include="fragments/pagination:: pagination" class="pagination"></div>
  </div>
</body>

</html>