<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/main_layout}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" href="../../static/css/form.css" />
    <title>Register</title>
</head>

<body class="page">
    <div layout:fragment="content" class="form page__form">
        <form class="form__form-box">
            <h1 class="form__title">Register</h1>
            <div class="form__group">
                <label class="form__label" for="userName">Username: </label>
                <input class="form__input" type="text" name="userName">
            </div>
            <div class="form__group">
                <label class="form__label" for="firstName">First name: </label>
                <input class="form__input" type="text" name="firstName">
            </div>
            <div class="form__group">
                <label for="lastName" class="form__label">Last name: </label>
                <input class="form__input" type="text" name="lastName">
            </div>
            <div class="form__group">
                <label class="form__label" for="password">Password: </label>
                <input class="form__input" type="password" name="password">
            </div>
            <div class="form__group">
                <label class="form__label" for="matchingPassword">Matching password: </label>
                <input class="form__input" type="password" name="matchingPassword">
            </div>
            <div class="form__group">
                <label class="form__label" for="email">Email: </label>
                <input class="form__input" type="text" name="email">
            </div>
            <div class="form__group">
                <label class="form__label" for="terms">Accept terms: </label>
                <input class="form__checkbox" type="checkbox" name="terms">
            </div>
            <div class="form__group">
                <button class="form__submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>