<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/main_layout}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />
    <title>Login</title>
</head>

<body class="page page--login">
    <div layout:fragment="content" class="form page__form">
        <form th:action="@{/authenticateTheUser}" method="POST" class="form__box">
            <h1 class="form__title" th:text="#{form.login.title}"></h1>
            <p class="form__message form__message--success" th:if="${param.logout}" th:text="#{form.login.logout}"></p>
            <p class="form__message form__message--failure" th:if="${param.badCredentials}"
                th:text="#{form.login.badCredentials}"></p>
            <p class="form__message form__message--failure" th:if="${param.accountDisabled}"
                th:text="#{form.login.accountDisabled}"></p>
            <div class="form__group">
                <label class="form__label" for="username" th:text="#{form.login.username}"></label>
                <input class="form__input" type="text" name="username">
            </div>
            <div class="form__group">
                <label class="form__label" for="password" th:text="#{form.login.password}"></label>
                <input class="form__input" type="password" name="password">
            </div>
            <div class="form__group">
                <button class="form__submit" type="submit" th:text="#{form.login.submit}">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>