<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/main_layout}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />
    <title>Login</title>
</head>

<body class="page page--login">
    <div layout:fragment="content" class="form page__form">
        <form th:action="@{/authenticateTheUser}" method="POST" class="form__box">
            <h1 class="form__title">Login</h1>
            <p class="form__message form__message--success" th:if="${param.logout}">You have been successfully logged
                out</p>
            <p class="form__message form__message--failure" th:if="${param.badCredentials}">Invalid
                username or password</p>
            <p class="form__message form__message--failure" th:if="${param.accountDisabled}">Activate your account
                before logging in</p>
            <div class="form__group">
                <label class="form__label" for="username">Username: </label>
                <input class="form__input" type="text" name="username">
            </div>
            <div class="form__group">
                <label class="form__label" for="password">Password: </label>
                <input class="form__input" type="password" name="password">
            </div>
            <div class="form__group">
                <button class="form__submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>

</html>