<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>World Of Manga</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Manga list management website">
    <meta name="keywords" content="manga, manhwa, webtoon, manhua, list, recommendations">
    <meta name="author" content="Artur Nowak">
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/card.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/manga_list.css}" />
</head>

<body class="page">

    <div th:replace="fragments/header :: header"></div>

    <div layout:fragment="content"></div>

    <div th:replace="fragments/footer :: footer"></div>

    <script type="text/javascript" th:src="@{/js/changeLanguage.js}"></script>
    <script type="text/javascript" th:src="@{/js/mangaRating.js}"></script>
    <script type="text/javascript" th:src="@{/js/mangaToFavourites.js}"></script>
    <script type="text/javascript" th:src="@{/js/showHideContent.js}"></script>
    <script type="text/javascript" th:src="@{/js/clickAndDrag.js}"></script>
</body>

</html>