<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/page.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
</head>

<body class="page">
    <select id="locales">
        <option value=""></option>
        <option value="en">en</option>
        <option value="pl">pl</option>
    </select>
    <div th:replace="fragments/header :: header"></div>

    <div layout:fragment="content"></div>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption != '') {
                    window.location.replace('?lang=' + selectedOption);
                }
            });
        });
    </script>
</body>

</html>