<div th:fragment="manga-list" class="manga_list">
    <div class="manga_card" th:each="manga : ${mangas}">
        <div class="manga_card__face manga_card__face--info">
            <div class="manga_card__container">
                <img class="manga_card__image" th:src="@{'/manga/getImage/' + ${manga.id}}">
            </div>
            <div class="manga_card__info">
                <span class="manga_card__title" th:each="translation : ${manga.translations}" th:if="${#strings.equals(translation.language.locale, locale)}" th:text="${translation.title}"></span>
                <div class="manga_card__author" th:each="author : ${manga.authors}">
                    <span th:text="${author.fullName}"></span>
                </div> 
            </div>
            <div class="manga_card__stats">
                <div class="manga_card__likes"> <image class="manga_card__icon"th:src="@{'/images/icons/heart.png'}"></image>
                </div>
                <div class="manga_card_rating"><span th:text="${manga.rating}"></span>
                    <image class="manga_card__icon" th:src="@{'/images/icons/star.png'}"></image>
                </div>
            </div>
        </div>
          <div class="manga_card__face manga_card__face--details">
            <div class="manga_card__container">
                <span class="manga_card__description" th:each="translation : ${manga.translations}"
                    th:if="${#strings.equals(translation.language.locale, locale)}" th:text="${translation.description}"></span>
            </div>
            <div class="manga_card__info">
            </div>
            <div class="manga_card__stats">
                <div class="manga_card__likes"><span>
                        <image class="manga_card__icon manga_card__icon--big" th:src="@{'/images/icons/heart.png'}"></image>
                    </span>
                </div>
                <div class="manga_card_rating"><span>
                        <a th:href="@{'/auth/rateManga?id=' + ${manga.id}} + '&rating=' + 1" ><image class="manga_card__icon manga_card__icon--big manga_card__icon--star" th:src="@{'/images/icons/white-star.png'}" data-star="1"></image></a>
                        <a th:href="@{'/auth/rateManga?id=' + ${manga.id}} + '&rating=' + 2"><image class="manga_card__icon manga_card__icon--big manga_card__icon--star" th:src="@{'/images/icons/white-star.png'}" data-star="2"></image></a>
                        <a th:href="@{'/auth/rateManga?id=' + ${manga.id}} + '&rating=' + 3"><image class="manga_card__icon manga_card__icon--big manga_card__icon--star" th:src="@{'/images/icons/white-star.png'}" data-star="3"></image></a>
                        <a th:href="@{'/auth/rateManga?id=' + ${manga.id}} + '&rating=' + 4" ><image class="manga_card__icon manga_card__icon--big manga_card__icon--star" th:src="@{'/images/icons/white-star.png'}" data-star="4"></image></a>
                        <a th:href="@{'/auth/rateManga?id=' + ${manga.id}} + '&rating=' + 5"><image class="manga_card__icon manga_card__icon--big manga_card__icon--star" th:src="@{'/images/icons/white-star.png'}" data-star="5"></image></a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>