.manga_list {
  display: flex;
  flex: 1 0 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.manga_card {
  margin: 1.5rem;
  background: black;
  color: white;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.manga_card__face--details {
  display: none;
}

.manga_card:hover .manga_card__face--details {
  display: block;
}

.manga_card:hover .manga_card__face--info {
  display: none;
}

.manga_card:hover {
  transform: scale(1.1);
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.5);
}

.manga_card__container {
  height: 350px;
  width: 250px;
}

.manga_card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.manga_card__info {
  height: 60px;
}

.manga_card__title {
  font-size: 1.4rem;
}

.manga_card__description {
  font-size: 0.9rem;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.manga_card__author {
  font-size: 0.9rem;
}

.manga_card__stats {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.manga_card__icon {
  width: 15px;
  height: 100%;
}

.manga_card__icon--big {
  width: 25px;
  height: 100%;
  transition: 0.3s ease;
}

.manga_card__icon--big:hover {
  transform: scale(2);
}
