.page {
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: sans-serif;
}

.page--login {
  background: url(/images/samurai.jpg) no-repeat fixed center;
}

.page--register {
  background: url(/images/romance.jpg) no-repeat fixed center;
}

.form__form-box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 400px;
  height: auto;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.form__title {
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 3px;
}

.form__group {
  margin: 0;
  padding: 0px 5px;
  margin-bottom: 10px;
  text-align: center;
}

.form__input {
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  text-align: center;
  height: 30px;
  font-size: 0.9rem;
}

.form__submit {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  font-size: 18px;
  border-radius: 20px;
}

.form__submit:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

.form__message {
  padding: 2px;
  margin: 2px;
  text-align: center;
}

.form__message--success {
  color: #00e64d;
}

.form__message--failure {
  color: red;
}
