.form {
  display: flex;
  position: absolute;
  top: 45%;
  left: 50%;
}

.form--first_form {
  left: 30%;
}

.form--second_form {
  left: 70%;
}

.form__box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 25rem;
  height: auto;
  color: #fff;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.form__box--register {
  margin: 6rem 0 2rem 0;
}

.form__title {
  text-align: center;
  font-weight: bold;
  padding: 0;
  margin: 0.2rem;
}

.form__group {
  margin: 0;
  padding: 0 0.3rem;
  margin-bottom: 0.6rem;
  text-align: center;
}

.form__input {
  width: 90%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  color: #fff;
  text-align: center;
  height: 2rem;
  font-size: 0.9rem;
}

.form__input--image {
  border: none;
  margin: 0 auto;
}

.form__submit {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  font-size: 18px;
  border-radius: 1rem;
}

.form__submit:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}

.form__message {
  margin: 0.1rem;
  text-align: center;
}

.form__message--success {
  color: #00e64d;
}

.form__message--failure {
  color: #f02525;
}

.form__group--flex {
  display: none;
}

.form__group--flex ~ * {
  flex: 1;
}
