:root {
  --firt_part_height: 100px;
  --second_part_height: 40px;
}

.manga_card {
  margin: 1.5em;
  background: black;
  color: white;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.manga_card__face--details {
  display: none;
}

.manga_card:hover .manga_card__face--details {
  display: block;
}

.manga_card:hover .manga_card__face--info {
  display: none;
}

.manga_card:hover {
  transform: scale(1.1);
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}

.manga_card__container {
  position: relative;
  height: 350px;
  width: 250px;
}

.manga_card__user_likes {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.manga_card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.manga_card__info {
  height: var(--firt_part_height);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: space-between;

  padding: 3px;
}

.manga_card__title {
  font-size: 1.4em;
  display: block;
  word-wrap: break-word;
  width: 250px;
}

.manga_card__description {
  font-size: 0.9em;
  text-align: center;
  display: block;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.manga_card__author,
.manga_card__genre {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 3px 4px;

  font-size: 0.9em;
}

.manga_card__span {
  display: inline-block;

  flex-basis: 33%;
  flex-grow: 1;
}

.manga_card__stats {
  padding: 5px;
  height: var(--second_part_height);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.manga_card__list-options {
  height: var(--firt_part_height);
  display: flex;
  flex: 1 0 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.manga_card__icon {
  width: 20px;
  height: 100%;
}

.manga_card__icon--big {
  width: 30px;
  height: 100%;
  transition: transform 0.3s ease;
}

.manga_card__icon--big:hover {
  transform: scale(1.6);
}
