*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.page {
  background-size: cover;

  height: calc(100vh - 80px);
}

.page > div {
  height: 100%;
}

.page--login {
  background: url(/images/backgrounds/samurai.jpg) no-repeat fixed center;
}

.page--register {
  background: url(/images/backgrounds/romance.jpg) no-repeat fixed center;
}
